<div class="counter bg-white rounded-lg shadow-md p-4 flex justify-between items-center">
  <div>
    <h2 class="text-lg font-semibold mb-2">
      <a href="/counters/{{ counter.id }}/edit" class="text-indigo-500 font-semibold hover:text-blue-500 hover:underline ml-0">
        {{ counter.name }}
      </a>
    </h2>
    <div class="flex items-center">
      <button hx-put="/counters/{{ counter.id }}/down" hx-target="closest .counter" hx-swap="outerHTML"
        class="text-3xl text-red-600 focus:outline-none">
        ▼
      </button>
      <span class="text-3xl font-bold mx-4 whitespace-normal">{{ counter.value }}</span>
      <button hx-put="/counters/{{ counter.id }}/up" hx-target="closest .counter" hx-swap="outerHTML"
        class="text-3xl text-green-600 focus:outline-none">
        ▲
      </button>
    </div>
  </div>
</div>

