{% extends "layouts/base.html" %} {% block title %}New Counter{% endblock %} {%
block content %}
<div class="">
  <h2 class="text-lg font-semibold mb-2">New counter</h2>
  <form action="/counters" method="post">
    <div class="">
      <input type="text" placeholder="Name" name="name" id="name" value="" autofocus class="" />
      <input type="number" placeholder="Initial value" name="value" id="value" value="0" autofocus class="" />
    </div>
    <div class="">
      <div class="">
        <a href="/">
          <input type="button" value="cancel" />
        </a>
      </div>
      <div class=""></div>
      <div class="">
        <input type="submit" value="ADD" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
